name: DevSecOps Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  security-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pip-audit (dependency vulnerability check)
        run: |
          pip install pip-audit
          pip-audit

      - name: Run Bandit (Python security check)
        run: |
          pip install bandit
          bandit -r app/

      - name: Run Gitleaks to detect secrets
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: detect --redact --exit-code=2 --verbose

  docker-build:
    runs-on: ubuntu-latest
    needs: security-checks

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t flask-app:latest .

      - name: debug
        run: docker images

      - name: Run smoke test
        run: |
          docker run -d --name flask-test -p 5000:5000 flask-app:latest
          sleep 60
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:5000/)
          if [ "$STATUS" -ne 200 ]; then
            echo "Flask app failed to start. Status code: $STATUS"
            docker logs flask-test
            docker stop flask-test
            docker rm flask-test
            exit 1
          else
            echo "Flask app is running."
          fi
          docker stop flask-test
          docker rm flask-test
